:root {
  --ash-color: #8d99ae;
  --black: #2b2d42;
  --milk-color: #edf2f4;
  --red: #ef233c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  background-color: var(--ash-color);
  color: var(--black);
  padding: 20px;
  margin-bottom: 50px;
}

ul.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 20px;
  list-style: none;
  margin: 20px auto auto;
}

img {
  width: 100%;
  height: 400px;
}

.container li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--milk-color);
  padding: 20px;
  width: 300px;
  height: 550px;
}

.movie-name {
  font-size: 30px;
  font-weight: 400;
  color: var(--black);
}

button {
  padding: 10px;
  background-color: var(--black);
  color: var(--milk-color);
  border: none;
  font-size: 20px;
  border-radius: 8px;
}

footer {
  background-color: var(--black);
  color: var(--milk-color);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

/* POP-UP CSS */
.popup-section {
  width: 100%;
}

.popup-section li {
  background: none;
  width: 40%;
  max-width: 200px;
  max-height: 50px;
}

.close-btn {
  font-weight: 800;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  align-self: flex-end;
  text-align: right;
  float: right;
  cursor: pointer;
}

.movie-image {
  width: 80%;
  margin: 70px auto 0 auto;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-image img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin: auto;
}

ul.details {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
}

.details li {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

ul {
  margin-bottom: 20px;
}

.comments-list li {
  list-style-type: none;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

form * {
  border: 2px solid var(--black);
  padding: 10px;
  margin: 10px 0 0 0;
}

.likes {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

/** POP UP SECTION */

.popUpContainer {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.84);
  backdrop-filter: blur(3px);
}

.popup-section {
  width: 60vw;
  height: 70vh;
  background-color: azure;
  overflow-y: scroll;
}
