:root {
  --ash-color: #8d99ae;
  --black: #2b2d42;
  --milk-color: #edf2f4;
  --red: #ef233c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  background-color: var(--ash-color);
  color: var(--black);
  padding: 20px;
}

ul.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 20px;
  list-style: none;
  margin: 20px auto auto;
}

img {
  width: 100%;
  height: 400px;
}

.container li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  padding: 20px;
}

footer {
  background-color: var(--black);
  color: var(--milk-color);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}


/* POP-UP CSS */
.popup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  max-width: 800px;
  margin: auto;
  box-shadow: 2px 2px 20000px var(--black);
}

.popup-section li {
  background: none;
}

.close-btn {
  font-weight: 800;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  align-self: flex-end;
  text-align: right;
  right: 20px;
  top: 10px;
  position: absolute;
  cursor: pointer;
}

.movie-image {
  width: 80%;
  margin: auto;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-image img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin: auto;
}

ul.details {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
}

.details li {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

ul {
  margin-bottom: 20px;
}

.comments-list li {
  list-style-type: none;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

form * {
  border: 2px solid var(--black);
  padding: 10px;
  margin: 10px 0 0 0;
}
